@font-face {
	font-family: "ContentFont";  
	src: url("../fonts/content.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

body {
    margin: 0;
}

header {
	width: 1000px;
    height: 250px;
    background: #97BFB4;
	position: fixed;
    left: calc(50vw - 500px);
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
}

header img {
    width: 850px;
    height: 200px;
    margin-top: 25px;
}

nav {
    font-family: "ContentFont";
    position: fixed;
    width: 170px;
    top: 250px;  
    background: #97BFB4;
    bottom: 40px;
    left: calc(50vw - 500px);
}

.menu {
    width: 170px;
}

.menu a {
    background-color: #F5EEDC;
    color: #001e43;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #d1abab;
}

.menu a.active {
    background-color: #DD4A48;
    color: white;
}

main {
    font-family: "ContentFont";
    position: fixed;
    width: 770px;
    padding: 10px 30px;
    background: #e0e0e0;
    color: #001e43;
    top: 250px;
    left: calc(50vw - 330px);
    bottom: 40px;
    overflow: auto;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.field {
    position: relative;
    background-color: #DD4A48;
}

.record {
    margin-left: 20px;
    padding: 10px;
    width: 400px;
    background-color: #97BFB4;
}

.field table {
    border: 3px solid #4F091D;
    width: 300px;
    height: 300px;
    border-collapse: collapse;
}

.field td {
    border: 3px solid #4F091D;
    padding-bottom: -5px;
    width: 25px;
    height: 25px;
    line-height: 0;
}

.cellwhite {
    background-color: #000000;
}

.cellblack {
    background-color: #FFFFFF;
}

.field img {
    width: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    font-family: "ContentFont";
    width: 1000px;
    height: 40px;
    left: calc(50vw - 500px);
    background: #444;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.footer_text {
    position: relative;
    transform: translate(0%, -50%);
    top: 50%;
}
